*{
    margin: 0;
    padding: 0;
    font-family: 'Playfair Display', serif;
    scroll-padding-top: 3.25rem;
}

body{
    width: 100%;
    height: 100%;
}

header{
    color: #D2CFCE;
    overflow: hidden;
    background-color: #D2CFCE;
}

nav{
    width: 100vw;
    height: 3.25rem;
    background-color: #1E1011;
    position: fixed;
    z-index: 2;
}

ul{
    list-style-type: none;
    float: right;
}

li{
    float: left;
}

li a{
    display: block;
    text-decoration: none;
    padding: 1rem;
    text-align: center;
    color: #CAD3D5;
    font-size: 1.25rem;
    line-height: 1.25rem;
}

.hamburgerIcon i{
    display: none;
    font-size: 1.75rem;
    line-height: 1.75rem;
    right: .5rem;
    top: .5rem;
    position: absolute;
}

@media screen and (max-width: 899px){
    .hamburgerIcon i{
        display: block;
    }
    .hamburger{
        display: none;
        margin-top: 3.25rem;
        height: 13rem;
        background-color: black;
        width: 100%;
        text-align: center;
    }
    li{
        clear: left;
        display: block;
        width: 100vw;
    }
    li a{
        text-align: center;
    }
    ul{
        clear: right;
    }
}

li a:hover{
    background-color: #CAD3D5;
    color: #1E1011;
}

#headerBackground{
    margin: 3.25rem 0 0 0;
    height: calc(100vh - 3.25rem);
    width: 100vw;
    background-image: url('images/bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

header h1{
    display: inline-block;
    font-size: 3rem;
    margin: 25% 50% 0 5%;
}

section{
    font-size: 1.25rem;
}

#about{
    height: calc(100vh - 3.25rem - 20vh);
    width: 100vw;
    background-color: #CBD1D2;
    font-size: 1.25rem;
    padding-top: 20vh;
}

#jane{
    height: 35vh;
    width: 35vh;
    object-fit: cover;
    left: 23vw;
    top: 135vh;
    position: absolute;
    z-index: 1;
}

#computer{
    height: 40vh;
    width: 40vh;
    object-fit: cover;
    object-position: 80% 0;
    margin: 0 15vw 25vh 15vw;
    float: left;
}

#about h2{
    position: relative;
    display: block;
    margin: 0 20rem 2rem 2rem;
}

#about p{
    display: block;
    position: relative;
    margin: 1rem 20rem 1rem 2rem;
}

@media screen and (max-width: 1185px){
    #about p, #about h2{
        margin-right: 10rem;
    }
}

@media screen and (max-width: 950px){
    #about p, #about h2{
        margin-right: 3rem;
        font-size: 1rem;
    }
    #computer{
        height: 30vh;
        width: 30vh;
        margin: 0 10vw 40vh 10vw;
    }
    #jane{
        height: 25vh;
        width: 25vh;
        left: 20vw;
        top: 130vh;
    }
}

#portfolio{
    height: calc(100vh - 3.25rem);
    width: 100vw;
    background-color: #F2F5F8;
    text-align: center;
}

@media screen and (max-width: 738px){
    #portfolio{
        height: 100%;
    }
    #portfolio h2{
        font-size: 2.2rem;
    }
}

#portfolio h2{
    display: inline-block;
    margin: 2rem 0;
}

.flexContainer{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#portfolio img{
    height: 50vh;
    width: 50vh;
    object-fit: cover;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    transition: 1s;
    border-radius: 15px;
}

#portfolio img:hover{
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%);
}

figcaption{
    color: #1E1011;
    font-size: .9rem;
}

.firstPicture{
    object-position: 50% 50%;
    margin-right: 2rem;
}

.secondPicture{
    object-position: 40% 50%;
}

#contacts{
    height: calc(100vh - 9.27rem);
    width: 100vw;
    background-color: #FFFFFF;
    text-align: center;
}

#contacts h2{
    display: inline-block;
    margin: 8rem 0 1rem 0;
    font-size: 3rem;
}

#contacts p{
    display: block;
    margin: 1.5rem 0;
}

#contacts a, .window a{
    text-decoration: none;
    color: #696969;
}

svg{
    width: 30px;
    height: auto;
    margin-right: 1rem;
    fill: #696969;
}

svg:hover, #contacts a:hover, .window a:hover{
    color: #A9A9A9;
    fill: #A9A9A9;
}

footer{
    height: 5.5rem;
    width: 100vw;
    background-color: #1E1011;
    text-align: center;
    color: #D2CFCE;
    padding-top: 1rem;
}

.window{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    padding-top: 100px;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .6);
    transition: all 1s;
}

.information{
    background-color: #D2CFCE;
    border: solid #1E1011 .2rem;
    border-radius: 15px;
    margin: 0 auto 0 auto;
    width: 50vw;
    text-align: center;
    padding-bottom: 1rem;
}

.information p, .information h1{
    margin: 1rem;
}

.flexContainer button{
    font-size: 1rem;
    padding: .1rem .5rem;
    border-radius: 15px;
    border: solid .1rem #1E1011;
    color: #1E1011;
    background-color: #D2CFCE;
    transition: 1s;
    margin-bottom:2rem;
}

.flexContainer button:hover{
    color: #D2CFCE;
    background-color: #1E1011;
}

